@include tablet {
  .create-button {
    height: 6rem;
    width: 6rem;
    font-size: 4.5rem;
  }
  .modal {
    height: 35%;
    width: 60%;
    left: 20%;
    top: 10%;
    padding: 1rem 1.5em;
    &__form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      &--input {
        width: 45%;
        input,
        select {
          height: 3rem;
        }
        textarea {
          height: 7rem;
        }
        &-button {
          flex-direction: row-reverse;
          #save,
          #cancel {
            width: 15rem;
          }
        }
      }
      &--input:last-child {
        width: 95%;
      }
    }
  }
}
@include desktop {
  .modal {
    height: 35%;
    width: 40%;
    left: 30%;
    top: 20%;
    padding: 1.5rem;
    &__form {
      justify-content: space-between;
      &--input {
        &-button {
          #save,
          #cancel {
            width: 10rem;
          }
        }
      }
      &--input:last-child {
        width: 100%;
      }
    }
  }
}
