/* Mobile First */
.inventory {
  display: inherit;
  padding: 0 16px 16px 16px;
  &__bg {
    background-color: $alabaster;
    margin: 0;
    padding: 0 16px 16px 16px;
  }
  &__section-title {
    @include headings(1.8rem, 1.5rem);
    margin: 32px 0 16px 0;
  }
  &__name {
    @include headings(0.8rem, 1.2rem);
    @include demi;
    margin: 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__description,
  &__date,
  &__location,
  &__quantity,
  &__status {
    @include headings(0.8rem, 1.4rem);
    @include regular;
    margin: 0;
  }
  &__contact-title {
    @include headings(0.8rem, 1.2rem);
    @include regular;
    margin: 0;
  }
  &__label {
    @include headings(0.7rem, 1.2rem);
    @include demi;
    text-transform: uppercase;
    color: $silver;
    margin: 0;
  }
  &__product-item-wrap,
  &__order-wrap,
  &__location-wrap,
  &__quantity-wrap,
  &__status-wrap {
    width: 100%;
    margin: 0 0 24px 0;
    z-index: 2;
  }
  &__item-button-wrap {
    display: flex;
    justify-content: space-between;
    z-index: 10000;
  }
  &__input {
    @include headings(1rem, 1.5rem);
    @include regular;
    width: 85%;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 5px;
    padding: 12px;
    &:focus {
      border: 1px solid $black;
      outline: none;
    }
  }
  &__button {
    background-color: transparent;
    color: $silver;
    @include headings(1.6rem, 0);
    @include demi;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__item {
    border-bottom: 1px solid $mercury;
    position: relative;
    padding: 32px 0 0 0;
  }
}
/* Tablet */
@include tablet {
  .inventory {
    width: 100vw;
    padding: 0 24px;
    margin: 0 auto;
    &__bg {
      padding: 0 24px;
    }
    &__section-title {
      @include headings(2.4rem, 1.5rem);
      margin: 56px 0 14px 0;
    }
    &__top-wrap {
      display: flex;
      justify-content: space-between;
    }
    &__item-wrap {
      width: 100%;
    }
    &__product-item-wrap {
      width: 36%;
    }
    &__order-wrap {
      width: 16%;
    }
    &__location-wrap {
      width: 16%;
    }
    &__quantity-wrap {
      width: 16%;
    }
    &__status-wrap {
      width: 16%;
    }
    &__description {
      width: 90%;
    }
    &__date,
    &__location,
    &__quantity,
    &__status {
      margin: 18px 0 0 0;
    }
    &__input {
      width: 100%;
    }
    &__item:nth-child(n + 2) {
      h5 {
        display: none;
      }
    }
    &__item {
      display: flex;
      padding: 26px 0 0 0;
    }
    &__form {
      width: 224px;
      align-self: flex-end;
    }
    &__button {
      position: absolute;
      right: 1rem;
      top: 3em;
    }
  }
}
/* Desktop */
@include desktop {
  .inventory {
    width: 1080px;
    margin: 0 auto;
    &__bg {
      padding: 0 90px;
      margin: 0 auto;
    }
    &__item-wrap {
      width: 100%;
      margin-right: 4em;
    }
    &__order-wrap {
      width: 20%;
    }
    &__location-wrap {
      width: 20%;
    }
    &__quantity-wrap {
      width: 20%;
    }
    &__item {
      display: flex;
      flex-wrap: nowrap;
    }
    &__form {
      width: 280px;
      align-self: flex-end;
    }
    &__button {
      position: absolute;
      right: 1rem;
      top: 2.8em;
    }
  }
}
@include huge {
  .inventory {
    margin: 0 auto;
    &__bg {
      padding: 0 90px;
      margin: 0 auto;
    }
  }
}
