/* Mobile First */
.location {
  margin: 0 16px 16px 16px;
  /* background-color: $alabaster; */
  &__section-title {
    @include headings(1.8rem, 1.5rem);
    margin: 32px 0 16px 0;
  }
  &__name {
    @include headings(0.8rem, 1.2rem);
    @include demi;
    margin: 0;
  }
  &__info {
    @include headings(0.8rem, 1.4rem);
    @include regular;
    margin: 0;
  }
  &__contact-title {
    @include headings(0.8rem, 1.2rem);
    @include regular;
    margin: 0;
  }
  &__label {
    @include headings(0.7rem, 1.2rem);
    @include demi;
    text-transform: uppercase;
    color: $silver;
    margin: 0;
  }
  &__warehouse-wrap {
    width: 100%;
    margin: 0 0 24px 0;
  }
  &__contact-wrap {
    @extend .location__warehouse-wrap;
  }
  &__information-wrap {
    @extend .location__warehouse-wrap;
  }
  &__categories-wrap {
    @extend .location__warehouse-wrap;
  }
  &__input {
    @include headings(1rem, 1.5rem);
    @include regular;
    width: 85%;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 5px;
    padding: 12px;
    &:focus {
      border: 2px solid $black;
      outline: none;
    }
  }
  &__button {
    background-color: transparent;
    color: $silver;
    position: absolute;
    @include headings(1.6rem, 0);
    @include demi;
    margin: 0;
    left: 10em;
    bottom: 11.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__item {
    border-bottom: 1px solid $mercury;
    position: relative;
    padding: 32px 0 0 0;
  }
}
/* Tablet */
@include tablet {
  .location {
    margin: 0 24px;
    &__section-title {
      @include headings(2.4rem, 1.5rem);
      margin: 48px 0 58px 0;
    }
    &__top-wrap {
      display: flex;
    }
    &__warehouse-wrap {
      width: 100%;
    }
    &__contact-wrap {
      width: 30%;
    }
    &__information-wrap {
      width: 30%;
    }
    &__categories-wrap {
      width: 30%;
    }
    /* &__date-label:nth-child(3) {
      margin: 0 0 0 13rem;
    }
    &__date-label:nth-child(5) {
      margin: 0 0 0 23.2rem;
    }
    &__date {
      display: flex;
      flex-direction: row;
      padding: 2rem 0 0 0;
      position: relative;
      margin: 0 auto;
    }
    &__date:nth-child(n + 2) {
      h5 {
        display: none;
      }
    }
    &__date-label(1) {
      margin: 0 0 1rem 0;
    } */
    &__button {
      left: 27em;
      bottom: 5em;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
    }
    &__form {
      align-self: center;
    }
  }
}
/* Desktop */
@include desktop {
  .location {
    &__warehouse-wrap {
      width: 16%;
      margin-right: 4em;
    }
    &__contact-wrap {
      width: 18%;
    }
    &__information-wrap {
      width: 18%;
    }
    &__categories-wrap {
      width: 18%;
    }
    /* &__date-label:nth-child(3) {
      margin: 0 0 0 16rem;
    }
    &__date-label:nth-child(5) {
      margin: 0 0 0 28.1rem;
    }
    &__date-wrap {
      width: 896px;
      margin: 0 auto;
    }
    &__date {
      width: 100%;
    } */
    &__item {
      display: flex;
      flex-wrap: nowrap;
    }
    &__button {
      left: 36.5em;
      bottom: 2em;
    }
  }
}
