/* Mobile First */
.location {
  padding: 0 16px 16px 16px;
  /* background-color: $alabaster; */
  &__section-title {
    @include headings(1.8rem, 1.5rem);
    margin: 32px 0 16px 0;
  }
  &__name {
    @include headings(0.8rem, 1.2rem);
    @include demi;
    margin: 0;
  }
  &__info {
    @include headings(0.8rem, 1.4rem);
    @include regular;
    margin: 0;
  }
  &__contact-title {
    @include headings(0.8rem, 1.2rem);
    @include regular;
    margin: 0;
  }
  &__label {
    @include headings(0.7rem, 1.2rem);
    @include demi;
    text-transform: uppercase;
    color: $silver;
    margin: 0;
  }
  &__warehouse-wrap {
    width: 100%;
    margin: 0 0 24px 0;
  }
  &__warehouse-button-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__title-button-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__contact-wrap {
    @extend .location__warehouse-wrap;
  }
  &__information-wrap {
    @extend .location__warehouse-wrap;
  }
  &__categories-wrap {
    @extend .location__warehouse-wrap;
  }
  &__input {
    @include headings(1rem, 1.5rem);
    @include regular;
    width: 85%;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 5px;
    padding: 12px;
    &:focus {
      border: 1px solid $black;
      outline: none;
    }
  }
  &__button {
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__item {
    border-bottom: 1px solid $mercury;
    position: relative;
    padding: 32px 0 0 0;
  }
}
/* Tablet */
@include tablet {
  .location {
    width: 100vw;
    padding: 0 24px;
    margin: 0 auto;
    &__section-title {
      @include headings(2.4rem, 1.5rem);
      margin: 56px 0 14px 0;
    }
    &__top-wrap {
      display: flex;
      justify-content: space-between;
    }
    &__warehouse-wrap {
      width: 100%;
    }
    &__contact-wrap {
      width: 35%;
    }
    &__information-wrap {
      width: 35%;
    }
    &__categories-wrap {
      width: 30%;
    }
    &__input {
      width: 100%;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
    }
    &__form {
      width: 224px;
      align-self: flex-end;
    }
  }
}
/* Desktop */
@include desktop {
  .location {
    width: 1080px;
    margin: 0 auto;
    &__warehouse-wrap {
      width: 20%;
      margin-right: 4em;
    }
    &__contact-wrap {
      width: 20%;
    }
    &__information-wrap {
      width: 20%;
    }
    &__categories-wrap {
      width: 20%;
    }
    &__item:nth-child(n + 2) {
      h5 {
        display: none;
      }
    }
    &__item {
      display: flex;
      flex-wrap: nowrap;
    }
    &__form {
      width: 280px;
      align-self: flex-end;
    }
    &__button {
      position: absolute;
      right: 1rem;
    }
  }
}
