.modal {
  display: none;
  margin: 1rem;
  height: 100%;
  &__form {
    display: flex;
    flex-direction: column;
    &--input {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
      .switch-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1.25rem;
        }
        input[type="checkbox"] {
          height: 0;
          width: 0;
          visibility: hidden;
        }
        label {
          cursor: pointer;
          width: 4rem;
          height: 2rem;
          background: gray;
          display: block;
          border-radius: 5rem;
          position: relative;
        }
        label:after {
          content: "";
          position: absolute;
          top: 0.25rem;
          left: 0.25rem;
          width: 1.5rem;
          height: 1.5rem;
          background: #fff;
          border-radius: 5rem;
          transition: 0.3s;
        }
        input:checked + label {
          background: green;
        }

        input:checked + label:after {
          left: calc(100% - 0.25rem);
          transform: translateX(-100%);
        }
        label:active:after {
          width: 2rem;
        }
      }
      label {
        font-size: 1.25rem;
        color: $silver;
      }
      input,
      select {
        height: 2rem;
        padding: 0.5rem 1rem;
        background-color: $alabaster;
        border-color: $silver;
        outline: none;
        border-radius: 0.5rem;
      }
      textarea {
        height: 4rem;
        padding: 0.5rem 1rem;
        resize: none;
        background-color: $alabaster;
        border-color: $silver;
        outline: none;
        border-radius: 0.5rem;
      }
    }
    &--button {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      &-save {
        height: 3.5rem;
        margin-bottom: 0.5rem;
        background-color: $instock-blue-dark;
        color: $white;
        font-size: 1.05rem;
        border-radius: 0.5rem;
      }
      &-cancel {
        background-color: $white;
        color: $instock-blue-dark;
        outline: none;
        border: none;
        height: 3.5rem;
        font-size: 1.05rem;
      }
    }
  }
}
