.create-button {
  background-color: $instock-blue-dark;
  color: $white;
  font-size: 2rem;
  position: fixed;
  bottom: 10%;
  right: 5%;
  height: 3/75rem;
  width: 3.75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.modal-wraper {
  position: absolute;
  background-color: initial;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: 999;
}
.modal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: $white;
  z-index: 9999;
  transition: 0.5s;
  &__title {
    font-family: "avenirNextBold";
  }
  &__form {
    display: flex;
    flex-direction: column;
    &--input {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
      .switch-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1.2rem;
        }
      }
      label {
        font-family: "avenirNextRegular";
        font-size: 0.9rem;
        color: $silver;
        text-transform: uppercase;
      }
      input,
      select {
        height: 2rem;
        padding: 0.5rem 1rem;
        background-color: $alabaster;
        border: solid 1px;
        border-color: $silver;
        outline: none;
        border-radius: 0.5rem;
        font-family: "avenirNextRegular";
      }
      textarea {
        font-family: "avenirNextRegular";
        height: 5rem;
        padding: 0.5rem 1rem;
        resize: none;
        background-color: $alabaster;
        border: solid 1px;
        border-color: $silver;
        outline: none;
        border-radius: 0.5rem;
      }
      &-button {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        #save {
          height: 3.5rem;
          margin-bottom: 0.5rem;
          background-color: $instock-blue-dark;
          color: $white;
          font-size: 1.05rem;
          border-radius: 0.5rem;
          cursor: pointer;
        }
        #cancel {
          background-color: $white;
          color: $instock-blue-dark;
          outline: none;
          border: none;
          height: 3.5rem;
          font-size: 1.05rem;
          cursor: pointer;
        }
      }
    }
  }
}
@include tablet {
  .create-button {
    font-size: 3rem;
  }
  .modal {
    height: 85%;
    width: 60%;
    left: 20%;
    top: 10%;
    padding: 1rem 1.5em;
    &__form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      &--input {
        width: 45%;
        input,
        select {
          height: 3rem;
        }
        textarea {
          height: 7rem;
        }
        &-button {
          flex-direction: row-reverse;
          #save,
          #cancel {
            width: 15rem;
          }
        }
      }
      &--input:last-child {
        width: 95%;
      }
    }
  }
}
@include desktop {
  .modal {
    width: 40%;
    height: 80%;
    left: 30%;
    top: 15%;
    padding: 1.5rem;
    &__form {
      justify-content: space-between;
      &--input {
        &-button {
          #save,
          #cancel {
            width: 10rem;
          }
        }
      }
      &--input:last-child {
        width: 100%;
      }
    }
  }
}
