/* media query for tablet */
/* media query for desktop */
/* media query for landscape, medium pixel density desktops */
html,
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: avenirNextRegular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNextBold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}

body {
  font-family: avenirNextBold, Helvetica, Arial, sans-serif;
  color: #323232;
}

/* Header */
h1 {
  font-size: 36px;
  line-height: 44px;
}

/* Hero Header */
.hero__title h1 {
  font-size: 60px;
  line-height: 68px;
  color: #fff;
}

/* Header */
h2 {
  font-size: 24px;
  line-height: 32px;
}

/* Subheader */
h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: avenirNextBold, Helvetica, Arial, sans-serif;
}

/* Paragraph & comments */
h4 {
  font-size: 14px;
  line-height: 22px;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 12px;
  line-height: 20px;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  color: #afafaf;
}

p {
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
}

/* Mobile First */
.header {
  background-color: #323232;
  color: #fff;
  width: 100%;
  /* height: 80px; */
  text-align: center;
}

.header__logo-link {
  margin: 0;
  padding: 0;
}

.header__logo {
  width: 120px;
  margin: 16px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-link {
  width: 50%;
  text-decoration: none;
  font-family: avenirNextRegular;
  font-size: 0.9rem;
  color: #afafaf;
  padding-bottom: 10px;
  z-index: 9999;
}

.header__menu-link.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__wrap {
    background-color: #323232;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin: 0 auto; */
  }
  .header__logo {
    margin: 30px;
  }
  .header__menu {
    padding-top: 35px;
  }
  .header__menu-link {
    width: 55%;
    padding: 0 35px 22px 35px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .header__wrap {
    width: 1080px;
    margin: 0 auto;
  }
}

/* Desktop Huge */
@media only screen and (min-width: 1440px) {
  .header__wrap {
    margin: 0 auto;
  }
}

/* Mobile First */
.location {
  padding: 0 16px 16px 16px;
  /* background-color: $alabaster; */
}

.location__section-title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  margin: 32px 0 16px 0;
}

.location__name {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  margin: 0;
}

.location__info {
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.location__contact-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.location__label {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #afafaf;
  margin: 0;
}

.location__warehouse-wrap, .location__contact-wrap, .location__information-wrap, .location__categories-wrap {
  width: 100%;
  margin: 0 0 24px 0;
}

.location__warehouse-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__title-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__input {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  width: 85%;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 12px;
}

.location__input:focus {
  border: 1px solid #323232;
  outline: none;
}

.location__button {
  cursor: pointer;
}

.location__button:focus {
  outline: none;
}

.location__button:hover {
  opacity: 0.5;
}

.location__item {
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  padding: 32px 0 0 0;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .location {
    width: 100vw;
    padding: 0 24px;
    margin: 0 auto;
  }
  .location__section-title {
    font-size: 2.4rem;
    line-height: 1.5rem;
    margin: 56px 0 14px 0;
  }
  .location__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .location__warehouse-wrap, .location__contact-wrap, .location__information-wrap, .location__categories-wrap {
    width: 100%;
  }
  .location__contact-wrap {
    width: 35%;
  }
  .location__information-wrap {
    width: 35%;
  }
  .location__categories-wrap {
    width: 30%;
  }
  .location__input {
    width: 100%;
  }
  .location__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .location__form {
    width: 224px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .location {
    width: 1080px;
    margin: 0 auto;
  }
  .location__warehouse-wrap, .location__contact-wrap, .location__information-wrap, .location__categories-wrap {
    width: 20%;
    margin-right: 4em;
  }
  .location__contact-wrap {
    width: 20%;
  }
  .location__information-wrap {
    width: 20%;
  }
  .location__categories-wrap {
    width: 20%;
  }
  .location__item:nth-child(n + 2) h5 {
    display: none;
  }
  .location__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .location__form {
    width: 280px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .location__button {
    position: absolute;
    right: 1rem;
  }
}

/* Mobile First */
.location-details {
  padding: 0 16px 16px 16px;
}

.location-details__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 0 0;
}

.location-details__section-title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  width: 90%;
  margin: 0;
}

.location-details__icon {
  margin: 4px 18px 0 0;
}

.location-details__info {
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.location-details__info-gap {
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0 0 18px 0;
}

.location-details__contact-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.location-details__label {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #afafaf;
  margin: 0;
}

.location-details__address-wrap, .location-details__contact-wrap {
  width: 100%;
  margin: 0 0 24px 0;
}

.location-details__warehouse-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location-details__input {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  width: 85%;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 12px;
}

.location-details__input:focus {
  border: 1px solid #323232;
  outline: none;
}

.location-details__button {
  background-color: transparent;
  color: #afafaf;
  font-size: 1.6rem;
  line-height: 0;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
}

.location-details__button:focus {
  outline: none;
}

.location-details__button:hover {
  opacity: 0.5;
}

.location-details__item {
  position: relative;
  padding: 32px 0 0 0;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .location-details {
    width: 100vw;
    padding: 0 24px;
    margin: 0 auto;
  }
  .location-details__title-wrap {
    border-bottom: 1px solid #e1e1e1;
    margin: 36px 0 36px 0;
  }
  .location-details__icon {
    margin: 12px 18px 0 0;
  }
  .location-details__section-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0 0 36px 0;
  }
  .location-details__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .location-details__address-wrap, .location-details__contact-wrap {
    width: 50%;
  }
  .location-details__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 12px 0 0 0;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .location-details {
    width: 1080px;
    margin: 0 auto;
  }
}

/* Mobile First */
.inventory {
  display: inherit;
  padding: 0 16px 16px 16px;
}

.inventory__bg {
  background-color: #fafafa;
  margin: 0;
  padding: 0 16px 16px 16px;
}

.inventory__section-title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  margin: 32px 0 16px 0;
}

.inventory__name {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  margin: 0;
}

.inventory__name a {
  text-decoration: none;
  color: black;
}

.inventory__description, .inventory__date, .inventory__location, .inventory__quantity, .inventory__status {
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.inventory__contact-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.inventory__label {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #afafaf;
  margin: 0;
}

.inventory__product-item-wrap, .inventory__order-wrap, .inventory__location-wrap, .inventory__quantity-wrap, .inventory__status-wrap {
  width: 100%;
  margin: 0 0 24px 0;
  /* z-index: 2; */
}

.inventory__item-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10000;
}

.inventory__input {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  width: 85%;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 12px;
}

.inventory__input:focus {
  border: 1px solid #323232;
  outline: none;
}

.inventory__button {
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.inventory__button:focus {
  outline: none;
}

.inventory__button:hover {
  opacity: 0.5;
}

.inventory__item {
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  padding: 32px 0 0 0;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .inventory {
    width: 100vw;
    padding: 0 24px;
    margin: 0 auto;
  }
  .inventory__bg {
    padding: 0 24px;
  }
  .inventory__section-title {
    font-size: 2.4rem;
    line-height: 1.5rem;
    margin: 56px 0 14px 0;
  }
  .inventory__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inventory__item-wrap {
    width: 100%;
  }
  .inventory__product-item-wrap {
    width: 36%;
  }
  .inventory__order-wrap {
    width: 16%;
  }
  .inventory__location-wrap {
    width: 16%;
  }
  .inventory__quantity-wrap {
    width: 16%;
  }
  .inventory__status-wrap {
    width: 16%;
  }
  .inventory__description {
    width: 90%;
  }
  .inventory__date, .inventory__location, .inventory__quantity, .inventory__status {
    margin: 18px 0 0 0;
  }
  .inventory__input {
    width: 100%;
  }
  .inventory__item:nth-child(n + 2) h5 {
    display: none;
  }
  .inventory__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 26px 0 0 0;
  }
  .inventory__form {
    width: 224px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .inventory__button {
    position: absolute;
    right: 1rem;
    top: 3em;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .inventory {
    width: 1080px;
    margin: 0 auto;
  }
  .inventory__content-bg {
    /* padding: 0 90px; */
    width: 1080px;
    margin: 0 auto;
  }
  .inventory__item-wrap {
    width: 100%;
    margin-right: 4em;
  }
  .inventory__order-wrap {
    width: 20%;
  }
  .inventory__location-wrap {
    width: 20%;
  }
  .inventory__quantity-wrap {
    width: 20%;
  }
  .inventory__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .inventory__form {
    width: 280px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .inventory__button {
    position: absolute;
    right: 1rem;
    top: 2.8em;
  }
}

@media only screen and (min-width: 1440px) {
  .inventory {
    margin: 0 auto;
  }
  .inventory__bg {
    padding: 0 90px;
    margin: 0 auto;
  }
}

/* Mobile First */
.product {
  padding: 0 16px 16px 16px;
}

.product__section-title {
  font-size: 1.8rem;
  line-height: 1.5rem;
  margin: 32px 0 16px 0;
  width: 90%;
}

.product__icon {
  margin: 4px 18px 0 0;
}

.product__name {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  margin: 0;
}

.product__description, .product__client, .product__reference, .product__date, .product__location, .product__quantity, .product__status {
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.product__contact-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: avenirNextRegular, Helvetica, Arial, sans-serif;
  margin: 0;
}

.product__label {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #afafaf;
  margin: 0;
}

.product__product-item-wrap, .product__order-wrap, .product__client-wrap, .product__reference-wrap, .product__location-wrap, .product__quantity-wrap, .product__status-wrap {
  width: 100%;
  margin: 0 0 24px 0;
}

.product__product-item-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__product-item {
  width: 100%;
}

.product__edit-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product__stock-button {
  background-color: #63b03e;
  color: #fff;
  font-size: 0.8rem;
  line-height: 0;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  width: 96px;
  height: 1.8rem;
  margin: 0.5rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 0;
  border-radius: 0.4rem;
}

.product__edit-button {
  background-color: #004892;
  color: #fff;
  font-size: 1.2rem;
  line-height: 0;
  font-family: avenirNextDemi, Helvetica, Arial, sans-serif;
  width: 288px;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.product__edit-button:hover {
  background-color: #0065ad;
}

.product__item {
  position: relative;
  padding: 32px 0 0 0;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .product {
    width: 100vw;
    padding: 0 24px;
    margin: 0 auto;
    /* display: flex; */
  }
  .product__section-title {
    font-size: 2.4rem;
    line-height: 1.5rem;
    margin: 56px 24px 56px 0;
    width: 20%;
  }
  .product__icon {
    margin: 56px 18px 0 0;
  }
  .product__item-wrap {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
  }
  .product__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
  }
  .product__product-item-wrap {
    width: 100%;
  }
  .product__desktop-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .product__client-wrap {
    width: 50%;
  }
  .product__reference-wrap {
    width: 50%;
  }
  .product__order-wrap {
    width: 50%;
  }
  .product__location-wrap {
    width: 50%;
  }
  .product__quantity-wrap {
    width: 100%;
  }
  .product__status-wrap {
    width: 100%;
  }
  .product__description, .product__client, .product__reference, .product__date, .product__location, .product__quantity, .product__status {
    margin: 0 0 32px 0;
  }
  .product__item:nth-child(n + 2) h5 {
    display: none;
  }
  .product__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 42px 0 0 0;
  }
  .product__edit-button {
    margin: 48px 0;
    width: 160px;
  }
  .product__stock-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .product {
    width: 1080px;
    margin: 0 auto;
  }
  .product__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__description {
    width: 90%;
  }
  .product__product-item-wrap {
    width: 50%;
  }
  .product__desktop-wrap {
    width: 50%;
  }
  .product__client-wrap, .product__reference-wrap, .product__order-wrap, .product__location-wrap {
    width: 50%;
  }
  .product__quantity-wrap {
    width: 100%;
  }
  .product__status-wrap {
    width: 100%;
  }
}

.create-button {
  background-color: #002f5f;
  color: #fff;
  font-size: 2rem;
  position: fixed;
  bottom: 10%;
  right: 5%;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.uploadMessage {
  display: none;
}

.modal-wraper {
  position: absolute;
  background-color: initial;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 0;
}

.modal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: #fff;
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal__title {
  font-family: "avenirNextBold";
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
}

.modal__form--input .switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__form--input .switch-container p {
  font-size: 1.2rem;
}

.modal__form--input label {
  font-family: "avenirNextRegular";
  font-size: 0.9rem;
  color: #afafaf;
  text-transform: uppercase;
}

.modal__form--input input,
.modal__form--input select {
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
  border: solid 1px;
  border-color: #afafaf;
  outline: none;
  border-radius: 0.5rem;
  font-family: "avenirNextRegular";
}

.modal__form--input textarea {
  font-family: "avenirNextRegular";
  height: 5rem;
  padding: 0.5rem 1rem;
  resize: none;
  background-color: #fafafa;
  border: solid 1px;
  border-color: #afafaf;
  outline: none;
  border-radius: 0.5rem;
}

.modal__form--input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.modal__form--input-button #save {
  height: 3.5rem;
  margin-bottom: 0.5rem;
  background-color: #002f5f;
  color: #fff;
  font-size: 1.05rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal__form--input-button #cancel {
  background-color: #fff;
  color: #002f5f;
  outline: none;
  border: none;
  height: 3.5rem;
  font-size: 1.05rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .create-button {
    font-size: 3rem;
  }
  .modal {
    height: 85%;
    width: 60%;
    left: 20%;
    top: 10%;
    padding: 1rem 1.5em;
  }
  .modal__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__form--input {
    width: 45%;
  }
  .modal__form--input input,
  .modal__form--input select {
    height: 3rem;
  }
  .modal__form--input textarea {
    height: 7rem;
  }
  .modal__form--input-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .modal__form--input-button #save,
  .modal__form--input-button #cancel {
    width: 15rem;
  }
  .modal__form--input:last-child {
    width: 95%;
  }
}

@media only screen and (min-width: 1024px) {
  .modal {
    width: 40%;
    height: 80%;
    left: 30%;
    top: 15%;
    padding: 1.5rem;
  }
  .modal__form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .modal__form--input-button #save,
  .modal__form--input-button #cancel {
    width: 10rem;
  }
  .modal__form--input:last-child {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */